.btn {
  width: 120px;
}

.datepicker input {
  background-color: #FFFFFF !important;
}

.datepicker input[type="text"]:focus {
  border: 1px solid #CED4DA;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.calendar {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 1px solid #CED4DA;
  border-radius: 3px;
  margin-top: 3px;
  background-color: white;
  padding: 10px;
}

.year-header, .month-header, .weeks-header {
  text-align: center;
}

.year-header h6, .month-header h6 {
  font-size: 15px;
}

.year-header i {
  margin: 3px 0;
}

.year-btn {
  width: 25px;
  height: 20px;
}

.year-btn:hover {
  border-radius: 7px;
  background-color: #D7D7D7;
  cursor: pointer;
}

.month-header strong {
  font-size: 22px;
}

.month-header i {
  margin: 5px 0;
}

.week-header {
  display: inline;
  font-size: 10px;
  margin: 2px;
  font-weight: bold;
}
