.btn {
  width: 120px;
}

.datepicker input {
  background-color: #FFFFFF !important;
}

.datepicker input[type="text"]:focus {
  border: 1px solid #CED4DA;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.calendar {
  position: absolute;
  height: 200px;
  width: 210px;
  border: 1px solid #CED4DA;
  border-radius: 3px;
  margin-top: 3px;
  background-color: white;
  padding: 10px;
}

.year-header, .month-header, .weeks-header, .weeks {
  text-align: center;
}

.year-header h6, .month-header h6 {
  font-size: 15px;
}

.year-header i {
  margin: 3px 0;
}

.year-btn, .month-btn {
  text-align: center;
  width: 20px;
  height: 20px;
}

.year-btn:hover, .month-btn:hover {
  border-radius: 9px;
  background-color: #D7D7D7;
  cursor: pointer;
}

.month-header strong {
  font-size: 22px;
}

.month-header i {
  margin: 5px 0;
}

.week-header {
  display: inline;
  font-size: 10px;
  margin: 2px;
  font-weight: bold;
}

.weeks table,
.weeks table tr,
.weeks table td {
  text-align: center;
  margin: 0 auto;
}

.weeks thead {
  font-weight: bold;
}

.weeks tr {
  line-height: 14px;
}

.weeks td {
  font-size: 10px;
  width: 25px;
  height: 20px;
  padding: 2px;
}

.weeks tbody tr td:hover {
  background-color: #D7D7D7;
  cursor: pointer;
}
